# Pandas Library

Pandas is a python library used for working  with data sets.
it has functions for analyzing, cleaning, exploring, and manipulating  data.

pandas - Panel Data

## Use
to analyze big data and make conclusion based on statistical theories
it can clean messy data sets and make them readable and releavent data.
relavent is imp in your data science


## Install
pip install pandas

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\navya\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\navya\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\navya\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\navya\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\navya\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\navya\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
print(pd.__version__)

2.2.3

In [3]:
import pandas as pd

In [5]:
data={
    'South-Indian':['Idly','Dosa','Pongal'],
    'North-Indian':['Paneer Gravy','Roti','Biryani'],
    'Prices':[30,50,100]
}
var=pd.DataFrame(data)
print(var)

  South-Indian  North-Indian  Prices
0         Idly  Paneer Gravy      30
1         Dosa          Roti      50
2       Pongal       Biryani     100

In [ ]:
'''
Series: A pandas series is like a column in a table

DataFrames- Data sets in pandas are usually multi-dimensonal tables , called Dataframes

Series ia like a Column , DataFrame is the Whole Table
'''

In [9]:
data={
    'South-Indian':['Idly','Dosa','Pongal','Poha'],
    'North-Indian':['Paneer Gravy','Roti','Biryani','Dal'],
    'Prices':[30,50,100,80]
}
var=pd.DataFrame(data,index=['a','b','c','d'])
print(var)

  South-Indian  North-Indian  Prices
a         Idly  Paneer Gravy      30
b         Dosa          Roti      50
c       Pongal       Biryani     100
d         Poha           Dal      80

In [12]:
print(var.loc['b'])

South-Indian    Dosa
North-Indian    Roti
Prices            50
Name: b, dtype: object

In [14]:
print(var.loc[['c','d']])

  South-Indian North-Indian  Prices
c       Pongal      Biryani     100
d         Poha          Dal      80

In [15]:
import pandas as pd
df=pd.read_csv('Uber Cleaned Dataset.csv')

In [16]:
print(df)

                  timestamp        date  hour day_of_week  month  \
0       2018-11-26 03:40:46  2018-11-26     3      Monday     11
1       2018-11-26 03:40:46  2018-11-26     3      Monday     11
2       2018-11-26 03:40:46  2018-11-26     3      Monday     11
3       2018-11-26 03:40:46  2018-11-26     3      Monday     11
4       2018-11-26 03:40:46  2018-11-26     3      Monday     11
...                     ...         ...   ...         ...    ...
637189  2018-12-18 19:15:11  2018-12-18    19     Tuesday     12
637190  2018-12-18 19:15:11  2018-12-18    19     Tuesday     12
637191  2018-12-18 19:15:11  2018-12-18    19     Tuesday     12
637192  2018-12-18 19:15:11  2018-12-18    19     Tuesday     12
637193  2018-12-18 19:15:11  2018-12-18    19     Tuesday     12

                         source         destination ride_company  \
0             Boston University  Financial District         Lyft
1             Boston University  Financial District         Lyft
2                 North Station              Fenway         Uber
3             Boston University    Theatre District         Lyft
4       Northeastern University         Beacon Hill         Lyft
...                         ...                 ...          ...
637189                North End            West End         Uber
637190         Theatre District              Fenway         Uber
637191  Northeastern University         Beacon Hill         Lyft
637192                North End            West End         Uber
637193                   Fenway            Back Bay         Uber

             vehicle  visibility  ...  distance  surge_multiplier  fare  \
0          Lux Black       1.685  ...      4.46              1.75  62.5
1                Lux       1.685  ...      4.46              1.75  47.5
2                WAV       1.685  ...      3.05              1.00  10.5
3       Lux Black XL       1.685  ...      3.03              1.00  34.0
4               Lyft       1.685  ...      2.43              1.00  10.5
...              ...         ...  ...       ...               ...   ...
637189     Black SUV       9.883  ...      1.16              1.00  27.5
637190      UberPool       9.883  ...      2.66              1.00   9.0
637191  Lux Black XL       9.883  ...      2.40              1.00  32.5
637192        UberXL       9.883  ...      1.16              1.00  11.5
637193         UberX       9.883  ...      1.50              1.00   7.0

        humidity  wind_speed  weather_desc_short  \
0           0.92        0.51               Foggy
1           0.92        0.51               Foggy
2           0.92        0.51               Foggy
3           0.92        0.51               Foggy
4           0.92        0.51               Foggy
...          ...         ...                 ...
637189      0.38       12.52               Clear
637190      0.38       12.52               Clear
637191      0.38       12.52               Clear
637192      0.38       12.52               Clear
637193      0.38       12.52               Clear

                           weather_desc_long weather_status pressure  \
0        Rain in the morning and afternoon.             fog  1014.10
1        Rain in the morning and afternoon.             fog  1014.10
2        Rain in the morning and afternoon.             fog  1014.10
3        Rain in the morning and afternoon.             fog  1014.10
4        Rain in the morning and afternoon.             fog  1014.10
...                                      ...            ...      ...
637189    Mostly cloudy throughout the day.           clear  1011.55
637190    Mostly cloudy throughout the day.           clear  1011.55
637191    Mostly cloudy throughout the day.           clear  1011.55
637192    Mostly cloudy throughout the day.           clear  1011.55
637193    Mostly cloudy throughout the day.           clear  1011.55

       temperature_C
0               5.46
1               5.46
2               5.46
3               5.46
4               5.46
...              ...
637189         -5.01
637190         -5.01
637191         -5.01
637192         -5.01
637193         -5.01

[637194 rows x 22 columns]

In [17]:
print(df.to_string())

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [18]:
# Analysis of Data

# head() - will return starting top rows (default it will be 5), or sepcifed number of rows

print(df.head())

             timestamp        date  hour day_of_week  month  \
0  2018-11-26 03:40:46  2018-11-26     3      Monday     11
1  2018-11-26 03:40:46  2018-11-26     3      Monday     11
2  2018-11-26 03:40:46  2018-11-26     3      Monday     11
3  2018-11-26 03:40:46  2018-11-26     3      Monday     11
4  2018-11-26 03:40:46  2018-11-26     3      Monday     11

                    source         destination ride_company       vehicle  \
0        Boston University  Financial District         Lyft     Lux Black
1        Boston University  Financial District         Lyft           Lux
2            North Station              Fenway         Uber           WAV
3        Boston University    Theatre District         Lyft  Lux Black XL
4  Northeastern University         Beacon Hill         Lyft          Lyft

   visibility  ...  distance  surge_multiplier  fare  humidity  wind_speed  \
0       1.685  ...      4.46              1.75  62.5      0.92        0.51
1       1.685  ...      4.46              1.75  47.5      0.92        0.51
2       1.685  ...      3.05              1.00  10.5      0.92        0.51
3       1.685  ...      3.03              1.00  34.0      0.92        0.51
4       1.685  ...      2.43              1.00  10.5      0.92        0.51

   weather_desc_short                     weather_desc_long weather_status  \
0               Foggy   Rain in the morning and afternoon.             fog
1               Foggy   Rain in the morning and afternoon.             fog
2               Foggy   Rain in the morning and afternoon.             fog
3               Foggy   Rain in the morning and afternoon.             fog
4               Foggy   Rain in the morning and afternoon.             fog

  pressure temperature_C
0   1014.1          5.46
1   1014.1          5.46
2   1014.1          5.46
3   1014.1          5.46
4   1014.1          5.46

[5 rows x 22 columns]

In [19]:
print(df.head(8))

             timestamp        date  hour day_of_week  month  \
0  2018-11-26 03:40:46  2018-11-26     3      Monday     11
1  2018-11-26 03:40:46  2018-11-26     3      Monday     11
2  2018-11-26 03:40:46  2018-11-26     3      Monday     11
3  2018-11-26 03:40:46  2018-11-26     3      Monday     11
4  2018-11-26 03:40:46  2018-11-26     3      Monday     11
5  2018-11-26 03:40:46  2018-11-26     3      Monday     11
6  2018-11-26 03:40:46  2018-11-26     3      Monday     11
7  2018-11-26 03:40:46  2018-11-26     3      Monday     11

                    source         destination ride_company       vehicle  \
0        Boston University  Financial District         Lyft     Lux Black
1        Boston University  Financial District         Lyft           Lux
2            North Station              Fenway         Uber           WAV
3        Boston University    Theatre District         Lyft  Lux Black XL
4  Northeastern University         Beacon Hill         Lyft          Lyft
5         Theatre District              Fenway         Uber         UberX
6              Beacon Hill   Boston University         Lyft          Lyft
7              Beacon Hill   Boston University         Lyft        Shared

   visibility  ...  distance  surge_multiplier  fare  humidity  wind_speed  \
0       1.685  ...      4.46              1.75  62.5      0.92        0.51
1       1.685  ...      4.46              1.75  47.5      0.92        0.51
2       1.685  ...      3.05              1.00  10.5      0.92        0.51
3       1.685  ...      3.03              1.00  34.0      0.92        0.51
4       1.685  ...      2.43              1.00  10.5      0.92        0.51
5       1.685  ...      2.71              1.00  19.5      0.92        0.51
6       1.685  ...      2.30              1.00   9.0      0.92        0.51
7       1.685  ...      2.30              1.00   3.5      0.92        0.51

   weather_desc_short                     weather_desc_long weather_status  \
0               Foggy   Rain in the morning and afternoon.             fog
1               Foggy   Rain in the morning and afternoon.             fog
2               Foggy   Rain in the morning and afternoon.             fog
3               Foggy   Rain in the morning and afternoon.             fog
4               Foggy   Rain in the morning and afternoon.             fog
5               Foggy   Rain in the morning and afternoon.             fog
6               Foggy   Rain in the morning and afternoon.             fog
7               Foggy   Rain in the morning and afternoon.             fog

  pressure temperature_C
0   1014.1          5.46
1   1014.1          5.46
2   1014.1          5.46
3   1014.1          5.46
4   1014.1          5.46
5   1014.1          5.46
6   1014.1          5.46
7   1014.1          5.46

[8 rows x 22 columns]

In [20]:
# tail() - starting from bottam rows(default - 5),or specified number of rows.

print(df.tail())

                  timestamp        date  hour day_of_week  month  \
637189  2018-12-18 19:15:11  2018-12-18    19     Tuesday     12
637190  2018-12-18 19:15:11  2018-12-18    19     Tuesday     12
637191  2018-12-18 19:15:11  2018-12-18    19     Tuesday     12
637192  2018-12-18 19:15:11  2018-12-18    19     Tuesday     12
637193  2018-12-18 19:15:11  2018-12-18    19     Tuesday     12

                         source  destination ride_company       vehicle  \
637189                North End     West End         Uber     Black SUV
637190         Theatre District       Fenway         Uber      UberPool
637191  Northeastern University  Beacon Hill         Lyft  Lux Black XL
637192                North End     West End         Uber        UberXL
637193                   Fenway     Back Bay         Uber         UberX

        visibility  ...  distance  surge_multiplier  fare  humidity  \
637189       9.883  ...      1.16               1.0  27.5      0.38
637190       9.883  ...      2.66               1.0   9.0      0.38
637191       9.883  ...      2.40               1.0  32.5      0.38
637192       9.883  ...      1.16               1.0  11.5      0.38
637193       9.883  ...      1.50               1.0   7.0      0.38

        wind_speed  weather_desc_short                    weather_desc_long  \
637189       12.52               Clear   Mostly cloudy throughout the day.
637190       12.52               Clear   Mostly cloudy throughout the day.
637191       12.52               Clear   Mostly cloudy throughout the day.
637192       12.52               Clear   Mostly cloudy throughout the day.
637193       12.52               Clear   Mostly cloudy throughout the day.

       weather_status pressure temperature_C
637189          clear  1011.55         -5.01
637190          clear  1011.55         -5.01
637191          clear  1011.55         -5.01
637192          clear  1011.55         -5.01
637193          clear  1011.55         -5.01

[5 rows x 22 columns]

In [21]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637194 entries, 0 to 637193
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   timestamp           637194 non-null  object
 1   date                637194 non-null  object
 2   hour                637194 non-null  int64
 3   day_of_week         637194 non-null  object
 4   month               637194 non-null  int64
 5   source              637194 non-null  object
 6   destination         637194 non-null  object
 7   ride_company        637194 non-null  object
 8   vehicle             637194 non-null  object
 9   visibility          637194 non-null  float64
 10  cloud_cover         637194 non-null  float64
 11  uv_index            637194 non-null  int64
 12  distance            637194 non-null  float64
 13  surge_multiplier    637194 non-null  float64
 14  fare                637194 non-null  float64
 15  humidity            637194 non-null  float64
 16  wind_speed          637194 non-null  float64
 17  weather_desc_short  637194 non-null  object
 18  weather_desc_long   637194 non-null  object
 19  weather_status      637194 non-null  object
 20  pressure            637194 non-null  float64
 21  temperature_C       637194 non-null  float64
dtypes: float64(9), int64(3), object(10)
memory usage: 107.0+ MB
None

In [22]:
#by default dropna() mehtod returns a new dataframe and will not change the orifinal
new=df.dropna()
print(new.to_string())

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [ ]:
df.dropna(inplace=True)

In [ ]:
# replace the empty values

df.fillna(100,inplace=True)

In [ ]:
#particukar column
df.fillna({'Hours':20},inplace=True)

In [ ]:
#correct and convert the wrong format to correct format

df['Date']=pd.to_datetime(df['Date'],format='mixed' inplace=True)

In [ ]:
#fixing wrong data
df.loc[10,'Destination']='Bengluru'

In [ ]:
#remove the duplicates
print(df.duplicated()) #if returns True then data has duplicates , if returns false data does not have duplicates

#drop duplicates
df.drop_duplicates(inplace=True)